*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin:  0;
    background-color: green;
}

.menu{
    height: 75px;
    background-color: rgb(2, 87, 2);
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu button{
    width: 300px;
    height: 50px;
    border: 4px rgb(4, 110, 4) solid;
    background-color: rgb(2, 87, 2);
    color: white;
    font-size: 1.5em;
}

.menu button:hover{
    background-color: rgb(4, 110, 4);
}

.menu button:active{
    background-color: rgb(2, 87, 2);
}

.card{
    height: 200px;
}

.upperPart{
    background-color: rgb(4, 110, 4);
    padding: 25px;
    height: 250px;
    display: flex;
}

.extraBoard{
    display: flex;
    justify-content: center;
    width: 40%;
    padding-left: 50px;
    gap: 50px;
}

.foundationBoard{
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 50px;
}

.foundationStack{
    margin: 0 25px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.foundationStack > .card{
    position: absolute;
}

.mainBoard{
    display: flex;
    padding: 50px;
    justify-content: center;
}

.mainStack, .extraStack, .foundationStack{
    width: 137px;
}

.extraVisibleStack{
    width: 200px;
}

.mainStack{
    position: relative;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
}

.mainStack > .card{
    position: absolute;
}

.extraStack, .extraVisibleStack{
    position: relative;
}

.extraStack > .card, .extraVisibleStack > .card{
    position: absolute;
}


.card:hover{
    border: 1px black solid;
    border-radius: 7px;
}


.chosenCard{

    border: 3px solid yellow !important;
    border-radius: 7px;
}

.gameEnd{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
}